@media screen and (min-width: 700px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header-box {
    width: auto;
    height: 8vh;
    margin: 0;
    padding: 0px 15px;
    background-color: #654ea3;
    box-shadow: 0px 5px 10px white;

    & .icon-box {
      img {
        width: 40px;
        height: 40px;
      }
    }
    & .navigation-menu {
      margin: 0;
      column-gap: 30px;

      & a {
        margin: 0;
        padding: 0px 0px 3px 0px;
        font-size: 1.3em;
      }

      & a:hover {
        background-color: transparent;
        color: white;
        /* border: none; */
        border-bottom: 2px solid white;
        border-radius: 0;
      }
    }
  }

  #intro-box {
    height: auto;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    background-image: linear-gradient(to right top, #654ea3, #eaafc8);

    & .content-box {
      width: auto;
      padding: 30px 50px;
      margin: 0;

      & p,
      span,
      div span {
        color: white;
      }

      & button {
        font-size: 1.2em;
      }

      & .social-media {
        padding: 8px 30px;

        & span:hover {
          opacity: 0.8;
        }
      }
    }

    & .image-box {
      width: auto;
      margin: 0;
      text-align: center;
      padding: 10px 30px;
    }
  }
  #education {
    padding: 10px;

    & .edu-detail {
        display: grid;
        grid-template-columns: none;

        & .result {
            padding: 5px 10px;
        }
    }

  }
  #skills {
    & .skill-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px;
      padding: 10px;

      & .data {
        margin: 20px 10px;
        justify-self: center;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header-box {
    width: auto;
    height: 8vh;
    margin: 0;
    padding: 0px 5px;
    background-color: #654ea3;
    box-shadow: 0px 5px 10px white;

    & .icon-box {
      img {
        width: 60px;
        height: 60px;
      }
    }
    & .navigation-menu {
      margin: 0;
      column-gap: 30px;

      & a {
        margin: 0;
        padding: 0px 0px 3px 0px;
        font-size: 1.3em;
      }

      & a:hover {
        background-color: transparent;
        color: white;
        /* border: none; */
        border-bottom: 2px solid white;
        border-radius: 0;
      }
    }
  }

  #intro-box {
    height: auto;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    background-image: linear-gradient(to right top, #654ea3, #eaafc8);

    & .content-box {
      width: auto;
      padding: 30px 50px;
      margin: 0;

      & p,
      span,
      div span {
        color: white;
      }

      & button {
        font-size: 1.2em;
      }

      & .social-media {
        padding: 8px 30px;

        & span:hover {
          opacity: 0.8;
        }
      }
    }

    & .image-box {
      width: auto;
      margin: 0;
      text-align: center;
      padding: 10px 30px;
    }
  }
  #education {
    padding: 10px;

    & .edu-detail {
        display: grid;
        grid-template-columns: none;

        & .result {
            display: grid;
            align-items: center;
            padding: 0;

            & .subject , .per {
                text-align: center;
            }
        }
    }

  }
  #skills {
    & .skill-box {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & .data{
        justify-self: center;
        margin: 15px 0px;
      }
    }

  }
  #contact {

    & .cont-heading {
       text-align: center;
    }
    & .cont-box {

      & form {
        padding: 10px;
        display: grid;
        grid-template-columns: none;

        & p {
          width: 100%;

          & input {
            padding: 5px;
            width: auto;
          }
        }
      }
    }
  }
}

